body, html{
    background:             #000000;
}
.header{
    fill: #ffffff;
    font-family: 'Helvetica UltraLight', Helvetica, sans-serif, Arial;
    font-size: 130px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 100;
}
svg{
    //line-height:            0;
}
.wrap{
	//max-width:				1100px;
    //padding:                50px;
    background:             #333333;
}
.l1, .l2, .l3, .l4 {
    transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
}/**/
.frame {
    position: relative;
    margin-bottom:-200px;
}
.frame1 {
    position: relative;
}
.frame2 {
    position: relative;
}
.frame3 {
    position: relative;
}
.frame4 {
    position: relative;
}