/* HEADER */
.cv-header {
  text-align: center;
}

.cv-header__name,
.cv-header__title {
  text-wrap: nowrap;
}

/* CONTACTS */
.cv-contacts {
  text-align: center;
  line-height: 1.1;
  padding: 0;
}

.cv-contacts a {
  text-decoration: underline;
}

.cv-contacts__contact {
  display: inline-block;
}

.cv-contacts__contact:before {
  content: "•";
  margin: 0 0.3em 0 0;
}

.cv-contacts__contact:first-child:before {
  content: "";
}

@media (max-width: 640px) {
  .cv-contacts {
    margin-left: 4em;
    text-align: left;
  }

  .cv-contacts__contact {
    display: block;
    margin-left: 0;
    text-align: left;
  }

  .cv-contacts__contact:before {
    content: "";
    margin: 0;
  }
}

/* STATUS */
.cv-status {
  text-align: center;
  margin-bottom: 2em;
}

@media (max-width: 640px) {
  .cv-status {
    display: block;
    margin-left: 4em;
    text-align: left;
  }
}

/* CONTENT */
.cv-work ul,
.cv-summary ul,
.cv-summary ul,
.cv-summary ul {
  padding: 0;
}

.cv-work > *,
.cv-summary {
  margin-left: 4em;
}

@media (max-width: 640px) {
  .cv-work > *,
  .cv-summary {
    margin-left: 2em;
  }
}

.cv-work > h2,
.cv-work > h3 {
  margin-left: 0;
  margin-bottom: 0;
}

.cv-work > h3 {
  margin-top: 0.2em;
}

.cv-work__group-header {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2em;
  font-size: 1em;
  font-weight: bold;
  margin-top: 1.5em;
}

.cv-work__location {
  text-wrap: nowrap;
}

/* TIME INTERVAL */
.cv-work__interval {
  font-style: italic;
  text-wrap: nowrap;
}

@media (max-width: 640px) {
  .cv-work__interval {
    display: block;
  }
}

.cv-section-header {
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin-top: 1.5em;
}

.cv-work h2,
.cv-work h3,
.cv-work a {
  color: var(--main-color);
}

.cv-work_svyaznoy {
  --main-color: #339
}

.cv-work_euroset {
  --main-color: #f90
}

.cv-work_microsoft {
  --main-color: #06c
}

/* HR */
.cv-hr {
  margin-top: 4em;
}
