:root {
  --main-color: #333;
  --main-text-color: #333;
}

html {
  max-width: 80ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1;
  font-size: 1.1em;
  font-family: "Helvetica Neue", sans-serif;
  color: var(--main-text-color);
}

@media (max-width: 640px) {
  html {
    padding: 2em 1em;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  html {
    padding: 1em 0.5em;
    font-size: 0.9em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
}

p, ul, ol {
  margin-bottom: 1em;
}

li {
  padding-bottom: 0.5em;
}

.post-meta {
  text-align: right;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

blockquote {
  font-style: italic;
  border: thin solid black;
  padding: 1rem;
}

blockquote p {
  margin: 0;
}

pre {
  overflow-x: auto;
  padding: 1rem;
}

pre, code {
  background: #ccc;
}

table {
  width: 100%;
}

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper {
  overflow-x: auto;
}

a, a:hover, a:active, a:visited {
  color: var(--main-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
