---
layout: base.njk
title: 404 | Page not found
---
<h1>{{ notfound.header }}</h1>
<h2>// {{ notfound.subheader }}</h2>
<br>
<br>
<p><a href="{{ notfound.url }}">[ {{ notfound.back_home_text }} ]</a></p>
