{% for exp in exps %}
    <article class="cv-work {% if exp.special %} cv-work_{{ exp.special }} {% endif %}">
        <h2 class="cv-work__header">
            {{ exp.name }}{% if exp.loc %}, <span class="cv-work__location">{{ exp.loc }}</span> {% endif %}
            {% if exp.site %}
                · <a href="{{ exp.site.href }}" target="_blank">{{ exp.site.value }}</a>
            {% endif %}
        </h2>
        <h3>
            {{ exp.title }}
            {% if exp.date %}
                <span class="cv-work__interval">{{ exp.date.start }} — {{ exp.date.finish }}</span>
            {% endif %}
        </h3>

        {% for responsibility in exp.responsibility %}
            {% if responsibility|is_string %}
                <p>
                    {{ responsibility }}
                </p>
            {% elseif responsibility|is_object %}

                {% if responsibility.group %}
                    <p class="cv-work__group-header">{{ responsibility.group }}</p>
                {% endif %}

                {% if responsibility.content %}
                    <ul>
                        {% for content in responsibility.content %}
                            {% if content|is_string %}
                                <li>{{ content }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
    </article>
{% endfor %}
