{% for exp in exps %}
    <article class="cv-article page__article">
        <h2 class="cv-article__header{% if exp.special %} cv-highlights cv-highlights_{{ exp.special }} {% endif %}">
            {{ exp.name }}{% if exp.loc %}, <span class="cv-article__location">{{ exp.loc }}</span>{% endif %}
            {% if exp.site %}
                <span class="cv-article__site">
                    <a href="{{ exp.site.href }}" target="_blank">{{ exp.site.value }}</a>
                </span>
            {% endif %}
        </h2>
        {% if exp.title or exp.interval %}
            <h3 class="cv-article__subheader">
                {% if exp.title %}
                    <span class="cv-article__title">{{ exp.title }}</span>
                {% endif %}
                {% if exp.interval %}
                    <span class="cv-article__interval">{{ exp.interval.start }} — {{ exp.interval.finish }}</span>
                {% endif %}
            </h3>
        {% endif %}

        {% if exp.responsibility %}
            <div class="cv-article__content">
                {% for responsibility in exp.responsibility %}
                    {% if responsibility|is_string %}
                        <p>
                            {{ responsibility }}
                        </p>
                    {% elseif responsibility|is_object %}

                        {% if responsibility.group %}
                            <p class="cv-section-header cv-article__group">{{ responsibility.group }}</p>
                        {% endif %}

                        {% if responsibility.list %}
                            <ul>
                                {% for list in responsibility.list %}
                                    {% if list|is_string %}
                                        <li>{{ list }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </article>
{% endfor %}
