<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">

    {% if site.description %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    <title>{{ title or site.title }}</title>

    {% set timestamp = site.version %}

    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/style/light.css?{{ timestamp }}" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="/style/dark.css?{{ timestamp }}" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/style/style.css?{{ timestamp }}">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png?{{ timestamp }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png?{{ timestamp }}">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png?{{ timestamp }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?{{ timestamp }}">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?{{ timestamp }}">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?{{ timestamp }}">
    <link rel="manifest" href="/manifest.json?{{ timestamp }}">
    <meta name="msapplication-TileColor" content="#663399">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png?{{ timestamp }}">
    <meta name="theme-color" content="#663399">
</head>
<body class="page">
{{ content | safe }}
</body>
</html>
