---
layout: base.njk
---
<header>
    <h1 class="cv-header">
        <span class="cv-header__name">{{ cv.name }}</span>, <span class="cv-header__title">{{ cv.title }}</span>
    </h1>

    {% set contacts = cv.contacts %}
    {% if contacts %}
        <ul class="cv-contacts">
            {% for contact in contacts %}
                <li class="cv-contacts__contact"><strong>{{ contact.name }}</strong>:
                    <a href="{{ contact.link }}" {% if contact.external %} target="_blank" {% endif %}>
                        {{ contact.value }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</header>
<main>
    <section>
        {% set status = cv.status %}
        {% if status %}
            <p class="cv-status">{{ status }}</p>
        {% endif %}
    </section>

    <section>
        {% set summary = cv.summary %}
        {% if summary %}
            <article class="cv-summary">
                <ul>
                    {% for content in summary %}
                        {% if content|is_string %}
                            <li>{{ content }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </article>
        {% endif %}
    </section>

    <section>
        {% set exps = cv.last_exp %}
        {% include './_cv-exp.njk' %}
    </section>

    <hr class="cv-hr">
    <section>
        <h2 class="cv-section-header">{{ cv.early_exp_title }}</h2>
        {% set exps = cv.early_exp %}
        {% include './_cv-exp.njk' %}
    </section>

    <hr class="cv-hr">
    <section>
        <h2 class="cv-section-header">{{ cv.ed_exp_title }}</h2>
        {% set exps = cv.ed_exp %}
        {% include './_cv-exp.njk' %}
    </section>
</main>
